<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='svg/chpl.svg') }}" />
		<title>{{ title | default('RPL wyszukiwarka') }}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename="styles.css")}}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		{% block content %}{% endblock  %}
	</body>
	<script src="{{ url_for('static', filename="script.js")}}"></script>
</html>