    {% extends "base.html" %}

    {% block content %}
    <div class="single-medicine-main">
    {% if base %}
        <h1>{{ base.nazwa_produktu }}</h1>
        <!-- <img src="{{ url_for('static', filename='svg/' ~ svg) }}" alt="ATC category icon" width="100"> -->
        <p> {{ base.nazwa_powszechna }} ({{ base.moc }})</p>
        <p>Kod ATC: {{ base.kod_atc }}</p>
        <p>Grupa: {{ base.name }}</p>
        <p>Podgrupa: {{ base.atc_name }}</p>
        <p>Forma: {{ base.nazwa_postaci_farmaceutycznej }}</p>
        <p>Droga podania: {{ base.droga_podania }}</p>
        <a href="{{ base.charakterystyka }}" class="chpl-button">Więcej informacji</a>
        <p>Podmiot odpowiedzialny: {{ base.podmiot_odpowiedzialny }}</p>
        <p>Nazwa wytwórcy importera: {{ base.nazwa_wytwórcy_importera }} ({{ base.kraj_wytwórcy_importera }})</p>

        <h2>Dostępne opakowania + refundacje</h2>
        {% if refundacja %}
            <table border="1" cellpadding="5">
                <thead>
                    <tr>
                        <th>Moc</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th>Poziom odpłatności</th>
                        <th>Wysokość dopłaty</th>
                        <th>Zakres</th>
                    </tr>
                </thead>
                <tbody>
                {% for r in refundacja %}
                    <tr>
                        <td>{{ r.moc }}</td>
                        <td>{{ r.ilosc }}</td>
                        <td>{{ r.cena_detaliczna }}zł</td>
                        <td>{{ r.poziom_odplatnosci }}</td>
                        <td>{{ r.wysokosc_doplaty }}zł</td>
                        <td>{{ r.zakres_objety_refundacja }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No refundation data available.</p>
        {% endif %}
    {% else %}
        <h1>Medicine not found</h1>
        <p>Please check the URL slug.</p>
    {% endif %}

    <p><a href="{{ url_for('frontend.index') }}">Back to home</a></p>
</div>
{% endblock %}