    <h1>Produkt Details</h1>

    {% if produkt_data %}
        <table>
            <thead>
                <tr>
                    {% for col in column_names %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in produkt_data %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data found for this product.</p>
    {% endif %}